@use '../abstracts//variables';
@use '../abstracts/mixins';

button.create {
    @include mixins.button('../assets/arrow-up.svg');
}

button.delete {
    @include mixins.button('../assets/delete.svg');
}

button.clear {
    display: inline-block;
    outline: none;
    border: none;
    background-color: inherit;
    font-weight: variables.$fw-700;
    cursor: pointer;
    opacity: 0.7;

    &:hover {
        opacity: 1;
    }
}
