@use '../abstracts/colors';
@use '../abstracts//variables';
@use '../abstracts/mixins';

input[type="checkbox"] {
    appearance: none;
    cursor: pointer;
    min-height: variables.$checkbox-size;
    min-width: variables.$checkbox-size;
    background-color: inherit;
    border-style: solid;
    border-color: colors.$light-grayish-blue;
    border-width: 1px;
    border-radius: 100px;
    position: relative;

    &:hover {
        border-color: colors.$light-purple;
    }

    &:checked {
        border: none;
        background: colors.$check-background;
    }

    &:checked::after {
        @include mixins.centerAbsolute('../assets/check.svg');
    }
}
