@use '../abstracts/colors';
@use '../abstracts/mixins';

#todo-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 540px;
    min-height: 60px;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    
    input[type="text"] {
        display: inline-block;
        cursor: text;
        caret-color: colors.$primary-bright-blue;
        outline: none;
        border: transparent;
        max-width: 150px;
        background-color: inherit
    }

    select {
        @include mixins.selector()
    }

    input[type="date"] {
        @include mixins.dateInput;
    }

    
}